<% include partials/header %>

<div class="ui container">
    <h1>All Assets</h1>
    <a href="/assets/new" class="btn btn-lg btn-success">New Asset</a>
     
     
    <table class="ui single line table">
        <thead>
            <tr>
                <th>Hostname</th>
                <th>Serial Number</th>
                <th>IP Address</th>
                <th>Operating System</th>
                <th>Machine Type</th>
                <th>Machine Model</th>
                <th>Location</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody>
            <% assets.forEach(function(asset) { %>
            <tr> 
                <th><%= asset.hostname %></th> 
                <th><%= asset.serialnumber %></th> 
                <th><%= asset.ipaddress %></th> 
                <th><%= asset.operatingsystem %></th> 
                <th><%= asset.machinetype %></th> 
                <th><%= asset.machinemodel %></th> 
                <th><%= asset.location %></th> 
                <th><a href="/assets/<%= asset._id %>" class="btn btn-primary">
                    <i class="plus icon"></i>
                    More
                    </a> 
            </tr>
            <% }); %>           
        </tbody>
</table>
</div>




<% include partials/footer %>
